<li class="list-item">
    <div class="post-card">
        <div class="card-header comment-header">
        </div>
        <div class="card-content">
            <p class="text-content">{{comment_body}}</p>
            <span class="post-date">-- {{user.user_name}} on {{format_date createdAt}}</span>
        </div>
    </div>
</li>