<li class="list-item">
    <a class="post-card" href="/dashboard/post/{{id}}">
        <div>
            <div class="card-header">
                <h2 class="card-title">{{title}}</h2>
                <h4 class="post-date">{{format_date updatedAt}}</h4>
            </div>
        </div>
    </a>
</li>